[Unit]
Description=Jellyfin Hot Cache Manager
Documentation=file:/usr/share/doc/jellyfin-hotcache/README.md
Wants=network-online.target
After=network-online.target local-fs.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/jellyfin-hotcache/environment
ExecStart=/usr/sbin/jellyfin-hotcache --config /etc/jellyfin-hotcache/config.yml
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7
